body {
  color: white;
  background-color: green;
  text-align: center;
}

.board {
  padding: 0 30px;
  margin: 0 auto 20px;
  width: 80%;
}

.display {
  width: 50%;
  display: flex;
  margin: 20px auto;
}

.count {
  padding: 5px 0 15px;
  width: 20%;
  height: 60px;
  border-radius: 9px;
  border: 1px dashed;
}

.active {
  background-color: white;
  color: green;
}
.option, .total  {
  width: 40%;
  border-radius: 9px;
  border: 1px dashed;
  margin: 10px;
  padding: 20px;
}

.total {
  width: 50%;
}

.pass {
  color: green;
}

.fail {
  color: red;
}

.quest {
  padding-top: 40px;
}

.row {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.answer {
  margin: 50px auto 20px;
  width: 100%;
  height: 100px;
}

.button {
  color: green;
  font-weight: bold;
  font-size: 20px;
  width: 300px;
  height: 50px;
}

.selected {
  width: 50%;
  height: 50px;
  margin: auto;
}

.intro {
  padding: 20px;
  margin: 20px;
  justify-content: center;
}

.total {
  margin: 60px auto;
}

.image img {
  width: 100px;
  height: 100px;
}

.intro, .res, p {
  font-size: 20px;
}

.opt {
  margin-top: 6px;
}

li {
  list-style: none;
}
